body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}
.logo, .form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    background-color: #f0f0f0; /* Cor de fundo para distinguir a logo */
    padding: 20px;
    max-width: 600px;
    height: 150%;
}
.form-container {
    background-color: #fff; /* Cor de fundo para distinguir o formulário */
    padding: 20px;
    max-width: 450px;
    height: 150%;
}
img {
    max-width: 700px;
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input, select, textarea {
    margin-bottom: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}
button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2cccc4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #21b8b0;
}
